@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
  /* margin: 0; */
}
:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
}

body {
  background: #ffefea;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

/* header */

.header {
  background: #1a0cf952;
}

header {
  max-width: 1200px;
  /* background-color: #ffe80f59; */
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-right: auto;
  width: 220px;
}

.logo img {
  width: 100%;
}

/* nav ul {
  display: flex;
  justify-content: space-between;
} */

/* account */
.account {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
/* account */

ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

.nav_links li a {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0.5rem;
  /* border: 1px solid #000;
  border-radius: 5px; */
  transition: all 0.3s ease-in-out;
}

/* header */

.container {
  margin: auto;
  padding: 20px;
}

.btn {
  cursor: pointer;
  background-color: darksalmon;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 8px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus,
select:focus {
  outline: 0;
}

.btn-toggle {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.text-box {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -800px);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  text-align: center;
  z-index: 999;
}

.text-box.show {
  transform: translate(-50%, 0);
}

.text-box select {
  background-color: darksalmon;
  border: 0;
  color: #fff;
  font-size: 12px;
  height: 30px;
  width: 100%;
}

textarea {
  border: 1px #dadada solid;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  margin: 15px 0;
  width: 100%;
  height: 150px;
}

.text-box .btn {
  width: 100%;
}

.text-box .close {
  float: right;
  text-align: right;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.box_container {
  position: relative;
}

.box {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.2s ease-out;
  position: relative;
}

.box.active {
  box-shadow: 0 0 10px 5px darksalmon;
}

.box img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.box .info {
  background-color: darksalmon;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  text-align: center;
  /* height: 100%; */
}

.box_delete {
  position: absolute;
  top: 6px;
  right: 6px;
}

.box_delete_btn {
  border: none;
  color: white;
  /* background-color: none; */
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  line-height: 0;
  padding: 6px;
  transition: background-color 0.3s ease-in-out;
}

.box_delete_btn:hover {
  background-color: #ffc0c7;
}

@media (max-width: 1100px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 760px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/*  */
.info {
  margin-top: 1rem;
  text-align: center;
}

.form {
  margin: 0 auto;
  max-width: 600px;
}

/* .icons {
  margin-right: 8px;
  margin-left: 8px;
} */

/*  */
