.account {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account > span {
  font-size: 1.25rem;
  font-weight: bold;
}

.account svg {
  width: 24px;
  height: 24px;
}

.account svg:last-child {
  cursor: pointer;
}

.account > a {
  font: 1em;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  border-radius: 25px;
  background-color: rgb(151, 240, 163);
  color: #202020;
  text-transform: uppercase;
}
