.file_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  border: 1px dashed #ccc;
  border-radius: 10px;
}

.file_textarea {
  width: 100%;
  height: 100%;
}

.text_input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  margin-top: 15px;
}

.card_submit {
  margin-top: 1em;
}

.error {
  margin: 0;
  padding: 8px 16px;
  background: #e34444;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
}
