.header {
  background-color: #fff;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
}

.logo_container {
  order: 2;
  flex-basis: auto;
  margin: 0 auto;
}

.logo {
  width: 220px;
  margin: 0 auto;
}
.logoImg {
  width: 100%;
}

.nav_link {
  display: flex;
  align-items: center;
}

.nav_button_container {
  display: flex;
  gap: 0.5rem;
  order: 1;
}

.nav_account_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 3;
  width: 198px;
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }

  .container {
    justify-content: center;
    padding: 1.2em;
  }
  .container .logo_container {
    flex-basis: 100%;
    order: unset;
  }
  .container > div {
    flex-basis: auto;
  }
}
